/*.lxdiagram
{
  max-width: 991px;
}*/

.lx-panel-a-mcl
{
	cursor: pointer;
}

pre{
	background-color: rgba(25,25,25,0.8);
	border: 1px solid rgba(10,10,10,0.7);
	color: #ccc;
	margin-top: 10px;
}

.lox-code-class
{
	color: dodgerblue;
}

.lox-code-variable
{
	color: dodgerblue;
}

.lox-code-public-static
{
	color: dodgerblue;
}

.lox-code-enum
{
	color: rgba(255,255,0,0.8);
}

.lox-code-ruby-string
{
	color: rgba(255, 128,0,0.8);
}

.lox-code-ruby-def
{
	color: orangered;
	font-weight: bold;
}

.lox-code-ruby-class
{
	color: rgba(255,192,203,0.8);
}

.lox-code-python-import
{
	color: rgba(255,69,0,0.7);
}

.lox-code-python
{
	color: rgba(170, 220, 255, 0.6);
}

.lox-code-python-string
{
	color: rgba(0, 255, 0, 0.5);
}

.lox-code-function
{
	color: #ccc;
}

.lox-code-interface
{
	color: orange;
}

.lox-code-return
{
	color: dodgerblue;
}

.lox-code-new
{
	color: rgba(10, 110, 250,0.9);
}

.lox-code-string
{
	color: rgba(255, 128,0,0.9);
}

.lox-code-equal
{
	color: #ccc;
}

.menu ul
{
	background-color: rgba(26,26,26,0.9);
}

.nav-tabs
{
	border-bottom-color: rgba(255,255,255,0.3);
}

.nav-tabs li a
{
	color: #ccc;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus
{
	color: #fff;
	background-color: rgba(35,35,35,0.8);
	border-color: rgba(255,255,255,0.3);
	border-bottom-color: rgba(255,255,255,0.5);
}

.nav-tabs li a:focus, .nav-tabs li a:hover
{
    background-color: rgba(30,30, 30,1);
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-color: rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
}